html, body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    color: #4F4F4F;
    background: #FFFFFF;
    min-height: 100vh; /*monitor screen height*/
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;  
}

/*header section styles*/

.header{
    background: #F4F6F9;
}

.header__wrapper{
    width: 90%;
    padding-left: 10%;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__title{
    color: #333333;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.03em;
    margin-top: 85px;
}

.header__text{
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    margin-top: 30px;
    width: 100%;
}

.app__block{
    display: flex;
    margin-top: 60px;
}

.apple__logo{
    margin-right: 20px;
}

.store__logo{
    width: 146px;
}


@media (min-width: 720px) {
    .header{
        background-image: url(./img/mobiles-bg.svg);
        background-position: top right;
        background-repeat: no-repeat;
    }

    .header__wrapper{
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        padding-top: 40px;
        padding-bottom: 100px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .header__title{
        color: #333333;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.03em;
        margin-top: 100px;
    }

    .header__text{
        font-size: 18px;
        line-height: 26px;
        color: #4F4F4F;
        margin-top: 30px;
    }

    .app__block{
        display: flex;
        margin-top: 50px;
    }

    .store__logo{
        width: 156px;
    }

    .apple__logo{
        margin-right: 20px;
    }
}

@media (min-width: 1200px) {

    .header__wrapper{
        background: rgba(255, 255, 255, 0);
        flex-direction: column;
        width: 58%;
        padding-top: 70px;
        padding-bottom: 150px;
        align-items: flex-start;
        text-align: left;
    }

    .header__text{
        width: 85%;
    }
}

/*what it does section styles*/

.what-is__wrapper{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.what-is__blue{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    text-transform: uppercase;
    padding-top: 50px;
}

.what-is__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    padding-top: 30px;
}

.what-is__text__1, .what-is__text__2,{
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    padding-top: 25px;
}

.what-is__link{
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    padding-top: 20px;
}

.what-is__pics{
    margin-top: 30px;
    background: linear-gradient(to bottom, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(./img/ronaldo-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-left: 7%;
    padding-bottom: 45%;
}

.game__pic{
    max-width: 250px;
}

.schedule{
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 250px;
    height: 150px;
    position: relative;
}

.match__pic{
    position: absolute;
    margin-top: 125px;
    margin-left: 50px;
}

.schedule__card{
    display: flex;
}

.schedule__clubs-logo{
    display: flex;
    margin-top: 10px;
}

.arsenal__logo{
    width: 30%;
    margin-left: 50px;
}

.chelsea__logo{
    width: 35%;
    margin-left: -10px;
}

.schedule__text__time{
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    padding-left: 10px;
    padding-top: 18px;
}

.schedule__text__name{
    display: block;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #4F4F4F;
    padding-left: 10px;
    padding-top: 10px;
}

.schedule__text__type{
    display: block;
    font-size: 11px;
    line-height: 14px;
    color: #4F4F4F;
    padding-left: 10px;
    padding-top: 10px;
}

.schedule__notify{
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    margin-top: 10px;
}

.notitification__text{
    padding: 12px 10px;
    font-size: 13px;
    line-height: 17px;
    color: #4F4F4F;
}

@media (min-width: 450px) {
    .what-is__pics{
        padding-top: 20%;
        padding-left: 20%;
        padding-bottom: 45%;
    }
}

@media (min-width: 550px) {
    .what-is__pics{
        padding-top: 20%;
        padding-left: 10%;
        padding-bottom: 45%;
    }

    .game__pic{
        max-width: 360px;
    }

    .schedule{
        width: 360px;
        height: 219px;
        position: relative;
    }
    
    .match__pic{
        position: absolute;
        margin-top: 190px;
        margin-left: 110px;
    }
    
    .schedule__clubs-logo{
        margin-top: 50px;
        margin-bottom: 32px;
    }
    
    .arsenal__logo{
        width: 40%;
        margin-left: 35px;
    }
    
    .chelsea__logo{
        width: 45%;
        margin-left: -15px;
    }
    
    .schedule__text__time{
        font-size: 17px;
        line-height: 22px;
        padding-left: 15px;
        padding-top: 30px;
    }
    
    .schedule__text__name{
        font-size: 18px;
        line-height: 24px;
        padding: 15px;
        width: 65%;
    }
    
    .schedule__text__type{
        font-size: 16px;
        line-height: 21px;
        padding-left: 15px;
    }
    
    .notitification__text{
        padding: 12px 15px;
        font-size: 19px;
        line-height: 25px;
    }
}

@media (min-width: 1150px) {
    .what-is{
        display: flex;
        flex-direction: row-reverse;
    }

    .what-is__wrapper{
        padding-top: 70px;
        padding-bottom: 116px;
        text-align: left;
        }

    .what-is__pics{
        margin-top: 0;
        background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(./img/ronaldo-bg.png);
        background-repeat: no-repeat;
        padding-top: 7.5%;
        padding-left: 10%;
        padding-bottom: 0;
        width: 100%;
    }

    .what-is__text__1, .what-is__text__2{
        padding-right: 35%;
    }
}

/* Get started styles */

.get-started__wrapper{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.get-started__blue,{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    text-transform: uppercase;
    padding-top: 50px;
}

.get-started__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    padding-top: 30px;
}

.get-started__text__1, .get-started__text__2{
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    padding-top: 25px;
}

.get-started__link{
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    padding-top: 20px;
}

.get-started__bg-pic{
    text-align: center;
    position: relative;
}

.bg-desktop-pic{
    display: none;
}

.bg-mobile-pic{
    max-width: 100%; 
   }

.notification-link, .right-btn-link {
    display: block;
}

.notification-btn{
    background: #FFFFFF;
    box-shadow: 0px 2.47691px 12.3845px rgba(0, 0, 0, 0.25), 0px 1.98153px 4.95382px rgba(51, 51, 51, 0.1);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    top: 19%;
    left: calc(50% - 125px);
    position: absolute;
    cursor: pointer;
}

.notify-btn{
    padding-top: 10px;
    position: relative;
}

.blue-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00ADEE;
    position: absolute;
    top: 9px;
    right: 13px;
}

.notify-num{
    display: flex;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    justify-content: center;
    padding-top: 3px;
}

.bottom-right-btn{
    background: #FFFFFF;
    box-shadow: 0px 2.47691px 12.3845px rgba(0, 0, 0, 0.25), 0px 1.98153px 4.95382px rgba(51, 51, 51, 0.1);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    bottom: 27%;
    left: calc(50% + 60px);
    position: absolute;
    cursor: pointer;
}

.gomobile-btn{
    display: none;
}

.cart-btn{
    padding-top: 20px;
    position: relative;
}

.green-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #40B756;
    position: absolute;
    top: 12px;
    right: 13px;
}

.cart-num{
    display: flex;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    justify-content: center;
    padding-top: 3px;
}

@media (min-width: 1050px) {
    .get-started{
        display: flex;
        background: url(./img/getstarted-desktop-bg.png);
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .get-started__wrapper{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 10%;
        width: 35%;
    }
    
    .get-started__link, .learn-more{
        padding-top: 50px;
    }

    .get-started__pics{
        margin-right: 17%;
    }

    .bg-mobile-pic{
        display: none; 
       }

    .bg-desktop-pic{
        display: initial;
        padding-top: 4%;
       }

    .notification-btn{
        width: 91px;
        height: 91px;
        border-radius: 50%;
        top: 12%;
        left: calc(50% - 145px);
    }

    .notify-btn{
        padding-top: 20px;
    }

    .blue-circle{
        width: 25px;
        height: 25px;
        top: 15px;
        right: 15px;
    }

    .notify-num{
        font-size: 15px;
        line-height: 18px;
        padding-top: 3px;
    }

    .green-circle{
        display: none;
    }
    
    .cart-num{
        display: none;
    }

    .cart-btn{
        display: none;
    }

    .bottom-right-btn{
        background: #FFFFFF;
        box-shadow: 0px 2.47691px 12.3845px rgba(0, 0, 0, 0.25), 0px 1.98153px 4.95382px rgba(51, 51, 51, 0.1);
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        width: 91px;
        height: 91px;
        bottom: 24%;
        left: calc(50% + 100px);
    }

    .gomobile-btn{
        display: initial;
        position: relative;
        padding-top: 23px;
    }
}

/* features section styles */ 

.features{
    background-color:  #FAFAFA;;
}

.features__wrapper{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
}

.features__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    padding-top: 40px;
}

.features__item{
    margin-top: 50px;
}

@media (min-width: 720px) {

    .features{
        background-image: url(./img/features-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }

    .features__all{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }

    .feature{
       width: 33.33%;
       padding-left: 5%;
       padding-right: 5%;
    }

    .features__title{
        color: #FFFFFF;
        padding-top: 70px;
    }

    .features__icon{
        fill: #FFFFFF;
    }

    .features__text{
        color: #FFFFFF;
    }

    .features__text::before{
        content : "•";
        padding-right : 5px;
        color : #FFFFFF;
    }

}

/* what our section styles */

.what-our__wrapper{
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    overflow-x: hidden;
    position: relative;
}

.what-our__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-bottom: 60px;
}

.what-our__slider{
    display: flex;
}

.slider__card{
    min-width: 309px;
    height: 161px;
    background: #FFFFFF;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 15px;
    margin-left: 18px;
    margin-right: 18px;
}

.card__profile{
    display: flex;
}

.card__header{
    display: flex;
    justify-content: space-between;
}

.card__title{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.card__content{
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.card-img{
    padding-right: 15px;
    padding-bottom: 15px;
}

.dots__wrapper{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
}

.left-arrow{
    display: none;
}

.right-arrow__wrapper{
    display: flex;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #00ADEE;
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    right: 1%;
    bottom: 165px;
    cursor: pointer;
}

.right-arrow{
    display: flex;
    padding-left: 20px;
}

@media (min-width: 720px) {

    .right-arrow__wrapper{
        right: 10%;
    }

    .left-arrow__wrapper{
        display: flex;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        border: 1px solid #00ADEE;
        background-color: #FFFFFF;
        position: absolute;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        left: 10%;
        bottom: 165px;
        cursor: pointer;
    }

    .left-arrow{
        display: flex;
        padding-left: 16px;
    }
}

/* we have section styles */

.we-have__wrapper{
    background-color: #FAFAFA;
    padding-bottom: 70px;
}

.we-have__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #333333;
    padding-top: 55px;
    }

.channel-logos{
    display: flex;
    margin-left: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tv-logo{
    padding-top: 30px;
    padding-right: 30px;
}

/* Get up section styles */

.get-up__content{
    width: 80%;
    margin: 0 auto;
}

.get-up__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #333333;
    padding-top: 20px;
}

.get-up__text{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #4F4F4F;
    padding-top: 15px;
}

.app__block{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
}

.apple__logo{
    margin-right: 20px;
}

.store__logo{
    width: 146px;
}

.get-up__pic{
    display: flex;
    justify-content: center;
}

.get-up-mobile{
    max-width: 100%;
}

@media (min-width: 720px) {

    .get-up-mobile{
        display: none;
    }

    .get-up{
        background: linear-gradient(to top, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 97.14%), rgba(255, 255, 255, 0.5) url(./img/getup-bg-desktop.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .get-up__title{
        padding-top: 70px;
    }

    .get-up__text{
        padding-top: 35px;
        color: #000000;
    }
}

@media (min-width: 1150px) {

    .get-up{
        background-image: url(./img/getup-bg-desktop.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .get-up__content{
        width: 37%;
        margin-left: 50%;
    }

    .get-up__title{
        padding-top: 100px;
        text-align: left;
    }

    .get-up__text{
        padding-top: 35px;
        text-align: left;
        color: #4F4F4F;
    }

    .app__block{
        display: flex;
        justify-content: flex-start;
        margin-top: 38px;
        margin-bottom: 98px;
    }
}

/* Footer section styles */

.footer__wrapper{
    background-color: #00ADEE;
    padding-top: 40px;
    padding-bottom: 45px;
    padding-left: 5%;
}

.footer__social{
    display: flex;
    padding-top: 20px;
}

.social__item{
    padding-right: 20px;
}

.navbar__list{
    display: flex;
    padding-top: 20px;
}

.navbar__item{
    padding-right: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

@media (min-width: 720px) {
    .footer__wrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer__social{
        padding-top: 5px;
    }

    .navbar__list{
       padding-top: 0;
    }

    .navbar__item{
        padding-right: 20px;
    }

    .footer__social{
        order: 3;
    }
}


@media (min-width: 1000px) {

    .footer__navbar{
        margin-right: 7%;
    }

    .navbar__item{
        padding-right: 40px;
    }
}