body {
    font-family: Lato;
    font-style: normal;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;;
    background-position: center;
    min-height: 100vh; /*monitor screen height*/
    width: 100%;
}

/*Header styles start*/
/*Header styles end*/

/*Main styles start*/
/*Main styles end*/

/*Footer styles start*/
/*Footer styles end*/