body {
    font-family: Lato;
    font-style: normal;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;;
    background-position: center;
    min-height: 100vh; /*monitor screen height*/
    width: 100%;
}

.header{
    display: flex;
    height: 500px;
    background-color: #ED4C5C;
    align-items: center;
}

a { 
    text-decoration: none; 
   } 

/*Header styles start*/

.header__wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__image{
    width: 40%;
    height: 311px;
    margin-right: 10%;
}

.header__text{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__title{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
}

.header__content{
    color: #FFFFFF;
    font-size: 1.16rem;
    line-height: 1.4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo__link{
    margin-right: 20px;
}

.playstore__logo, .appstore__logo{
    width: 32px;
    height: 32px;
}

.windows__logo{
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

/*Header styles end*/


/*Main styles start*/

.main{
    display: flex;
    height: 500px;
    background-color: #FFFFFF;
    align-items: center;
}

.main__wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.main__text{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 75px;
}

.main__title{
    color: #000000;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.34;
}

.main__content{
    color: #000000;
    font-size: 1.16rem;
    line-height: 1.4;
    margin-top: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 13%;
}

.fname__input, .lname__input, .phone__input, .service__select{
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 24px;
    padding: 15px;
    font-size: 1.33rem;
    line-height: 1.2;
}

.name__input{
    display: flex;
    justify-content: space-between;
}

.fname__input, .lname__input{
    width: 47%;
}

.phone__input, .service__select{
    width: 100%;
}

.submit{
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 1.17rem;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
}

.submit__button:active{
    transform: translateX(1px) translateY(1px);
}

/*Main styles end*/


/*Footer styles start*/

.footer__wrapper{
    height: 350px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.adress, .services, .touch, .support{
    width: 20%;
}

li{
    line-height: 1.6;
}

.footer__title{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #101010;
    margin-top: 80px;
    margin-bottom: 40px;
}

/*.adress{
    padding-right: 5%;
}*/

.adress__content{
    color: #101010;
    line-height: 1.5;
    padding-right: 40%;
}

.copyright{
    margin-top: 100px;
}

.services__item{
    color: #000000;
    line-height: 1.6;
}

.touch__logos{
    margin-top: 10px;
}

.mail__link{
    color: #101010
}

.phone__link{
    color: #121212;
}

.facebook__logo, .linkedin__logo, .twitter__logo{
    width: 14px;
    height: 14px;
    margin-right: 9px;
}

.creditcards__image{
    width: 216px;
    height: 31px;
}

/*Footer styles end*/