html, body{
    background-color: white;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #262626;
    min-width: 391px;
}

/*heading styles*/

.relative-item{
    position: relative;
}

.notification{
    position: absolute;
    background: #DC565B;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 5px;
    right: 0;
}

.notification__text{
    display: flex;
    justify-content: center;
    padding-top: 2px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.search__wrapper{
    position: relative;
}

.search::before{
    content: url(./img/search.svg);
    position: absolute;
    left: 25%;
    top: 15%;
}

/*profile overview styles*/

.profile__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 0;
    text-align: bottom;
}

.btn-txt{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.dots{
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
}

.profile__stat{
    margin-bottom: 0;
    padding-inline-start: 0;
}

.profile__stat-item{
    list-style-type: none;
    font-size: 17px;
    line-height: 21px;
}

.profile__stat-link, .profile__stat-link:hover{
    color: #262626;
    text-decoration: none;
}

.profile__description-title{
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 0;
}

.profile__description-text{
    margin-bottom: 0;
}

.friend__link, .friend__link:hover,
.nav__tabs-active, .nav__tabs-active:hover{
    color: #262626;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.09em;
}

/*feed styles*/

.nav__tabs-disabled, .nav__tabs-disabled:hover{
    color: #8F8F8F;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.09em;
}

.friend__title{
    font-weight: 700;
}

/*Effects not used in insta

.nav-item:hover{
    transform: scale(1.05);
    filter: contrast(185%);
}

.nav-item:active{
    transform: translateX(1px) translateY(1px);
}*/