html, body{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    background: #FFFFFF;
    min-height: 600px;
    min-width: 1100px;
    margin: 0 auto;
}

.link{
    text-decoration: none;
    color: #000000;
}

.container{
    max-width: 1440px;
    max-height: 900px;
    display: flex;
    margin-top: 24px;
    margin-left: 3em;
}

.menu__bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    box-shadow: 20px 0 20px rgba(0, 0, 0, 0.3);
    padding: 50px 0;
    width: 10%;
    max-width: 132px;
    height: 95vh;
    border-radius: 24px;
    margin-right: 1em;
    position: sticky;
    top: 2.5em;
}

.f__logo{
    margin-bottom: 100%;
}

.inner__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}


/*Left block styles start*/

.left__block__wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 4em;
    padding-top: 30px;
}

.header{
    background-color: #F5F5F7;
    border-radius: 14px;
    position: relative;
    padding: 5%;
}

.header__pic{
    position: absolute;
    bottom: 0;
    right: 13%;
}

.header__title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
}

.header__content{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}

.mycourse__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.my__course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F7;
    border-radius: 14px;
    flex-grow: 1;
}

.mycourse__present{
    display: flex;
    align-items: center;
    width: 46%;
}

.course{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.course__title{
    font-family:'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.course__teacher{
    font-size: 13px;
    line-height: 25px;
}

.duration{
    display: flex;
    align-items: center;
}

.clock__logo{
    margin-right: 5px;
}

.courses__nav{
    display: flex;
}

.white__back{
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    width: 64px;
    height: 64px;
    margin: 8px 8.5px;
}

.course__logo{
    display: block;
    margin: 0 auto;
}

.prev__course{
    margin-left: 24px;
    margin-right: 16px;
}

.progress{
    display: flex;
    align-items: center;
    position: relative;
}

.progress__logo{
    position: absolute;
}

.percent{
    position: relative;
    margin: 40%;
    font-size: 13px;
    line-height: 15px;
}

.button{
    background: #000000;
    border-radius: 8px;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 1em 2em;
    margin: 20px 20px 20px 0;
}

.courses__title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    margin-top: 30px;
}

.courses__choose{
    display: flex;
    margin-top: 10px;
}

.courses__item, .stat__item{
    margin-right: 2em;
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    opacity: 0.5;
}

.active{
    font-weight: bold;
    opacity: 1;
}

.course__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F7;
    border-radius: 14px;
    margin-top: 15px;
}

.course__present{
    display: flex;
    align-items: center;
    width: 40%;
}

.course__stat{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

/*left block styles end*/


/*right block styles start*/

.right__block__wrapper{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 4em;
    padding-top: 30px;
}

.person__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search{
    background: url(img/search.svg) no-repeat;
    background-position: 15px;
    flex-grow: 1;
    margin-right: 2em;
    background-color: #F5F5F7;
    padding: 15px 15px 15px 45px;
    border-radius: 8px;
    border: none;
}

.profile__alerts{
    display: flex;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
}

.change{
    margin-left: 5px;
}

.alerts{
    position: relative;
    padding-right: 20px;
}

.bell{
    padding: 6px;
}

.new__alert{
    position: absolute;
    top: 0;
    right:20px;
}

.notif__num{
    position: absolute;
    top: -2px;
    right: 25px;
    font-size: 10px;
    line-height: 22px;
    color: #FFFFFF;
}

.stats__boxes{
    display: flex;
    justify-content: space-between;
}

.completed, .in__progress{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F7;
    border-radius: 14px;
    padding: 0 10%;
    width: 47%;
}

.boxes__num{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 92px;
}

.boxes__text{
    font-size: 16px;
    line-height: 24px;
    margin-left: 10%;
}

.stat__title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    margin-top: 45px;
}

.stat__nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.graph__select{
    display: flex;
    flex-grow: 1;
}

.service__select{
    background: #F5F5F7;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding: 10px;
}

.graph{
    width: 100%;
    margin-top: 20px;
}

.premium{
    background-color: #F5F5F7;
    border-radius: 14px;
    background-image: url(./img/premium.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 80%;
    margin-top: 40px;
}

.premium__text{
    margin-left: 2em;
    margin-top: 2em;
    width: 45%;
}

.premium__title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;

}

.premium__content{
    font-size: 16px;
    line-height: 24px;
}

/*right block styles end*/

.link:hover{
    text-decoration: underline;
}

.button:hover{
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.bar__logo:hover, .prev__course:hover, .next__course:hover{
    transform: scale(1.25);
    filter: contrast(185%);
}

.prev__course:hover, .next__course:hover{
    transform: scale(1.1);
}

.button:active, .prev__course:active, .next__course:active{
    transform: translateX(1px) translateY(1px);
}
