html, body{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    background: #FFFFFF;
    min-height: 600px; /*monitor screen height*/
    min-width: 1100px;
}

.link{
    text-decoration: none;
    color: #000000;
}

.container{
    max-width: 1440px;
    max-height: 900px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 2.3vw;
    margin-right: 4.6vw;
}

.menu__bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 50px 0;
    width: 10%;
    max-width: 132px;
    border-radius: 24px;
    margin-right: 1%;
}

.f__logo{
    margin-bottom: 100%;
}

.inner__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}


/*Left block styles start*/

.left__block__wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header{
    background-color: #F5F5F7;
    border-radius: 14px;
    background-image: url(./img/josh.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding: 5%;
}

.header__title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
}

.header__content{
    font-size: 16px;
    line-height: 24px;
}

.mycourse__wrapper{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.my__course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F7;
    border-radius: 14px;
    flex-grow: 1;
}

.course{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.course__title{
    font-family:'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.course__teacher{
    font-size: 13px;
    line-height: 25px;
}

.duration{
    display: flex;
    align-items: center;
}

.clock__logo{
    margin-right: 5px;
}

.courses__nav{
    display: flex;
}

.white__back{
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    width: 64px;
    height: 64px;
    margin: 8px 8.5px;
}

.course__logo{
    display: block;
    margin: 0 auto;
}

.prev__course{
    margin-left: 24px;
    margin-right: 16px;
}

.progress{
    display: flex;
    align-items: center;
    position: relative;
}

.progress__logo{
    position: absolute;
}

.percent{
    position: relative;
    margin: 40%;
    font-size: 13px;
    line-height: 15px;
}

.button{
    background: #000000;
    border-radius: 8px;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px;
}

.courses__title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    margin-top: 30px;
}

.courses__choose{
    display: flex;
    margin-top: 10px;
}

.courses__item{
    margin-right: 5%;
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
}

.active{
    font-weight: bold;
    opacity: 1;
}

.course__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F7;
    border-radius: 14px;
    margin-top: 15px;
}

.course__present{
    display: flex;
    align-items: center;
    width: 40%;
}

.course__stat{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

/*left block styles end*/


/*right block styles start*/

.right__block__wrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 4%;
}

.person__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search{
    flex-grow: 1;
    margin-right: 5%;
    background-color: #F5F5F7;
    padding: 15px;
    border-radius: 8px;
    border: none;
}

.profile__alerts{
    display: flex;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
}

.change{
    margin-left: 5px;
}

.alerts{
    position: relative;
    padding-right: 20px;
}

.bell{
    padding: 6px;
}

.new__alert{
    position: absolute;
    top: 0;
    right:20px;
}

.notif__num{
    position: absolute;
    top: -2px;
    right: 25px;
    font-size: 10px;
    line-height: 22px;
    color: #FFFFFF;
}

.stats__boxes{
    display: flex;
    justify-content: space-between;
}

.completed, .in__progress{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F7;
    border-radius: 14px;
    padding: 0 10%;
    width: 47%;
}

.boxes__num{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 102px;
}

.boxes__text{
    font-size: 16px;
    line-height: 24px;
    margin-left: 10%;
}

.stat__title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    margin-top: 40px;
}

.stat__nav{
    display: flex;
    justify-content: space-between;
}

/*right block styles end*/

.link:hover{
    text-decoration: underline;
}

.button:hover{
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.button:active, .prev__course:active, .next__course:active{
    transform: translateX(1px) translateY(1px);
}
/*pseudo starts

.request__demo:hover{
    font-size: 1.1rem;
    color: #9C69E2;
}

.pink:hover{
    background: #FFFFFF;
    color: #F063B8;
    font-size: 1.25rem;
}

.purple:hover{
    background: #FFFFFF;
    color: #9C69E2;
    font-size: 1.25rem;
}

.navbar__link:hover, .feature__link:hover,
.about__link:hover, .help__link:hover, 
.email__link:hover, .phone__link:hover{
    color: #9C69E2;
}

.request__demo:active, .pink:active, .purple:active{
    transform: translateX(1px) translateY(1px);
}

.facebook__logo:hover, .twitter__logo:hover, .instagram__logo:hover{
    background-color: rgba(69, 69, 69, 0.5);
    border-radius: 50%;
}

.arrow__previous:hover{
    opacity: 1;
}

.arrow__next:hover{
    opacity: 1;
}

.message:hover{
    transform: scale(1.25);
    filter: contrast(185%);
}

pseudo ends */ 