body {
    background: #333333;
}

table {
    border: 1px solid #C6C6C6;
    border-spacing: 0px;  /*remove spacing*/
    cellspacing: 0;
    border-radius: 4px; /*rounding?*/
    width: 60%; /* table width */
    background: #333333; /* table background */
    color: #C6C6C6; /* text color */
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 150px;
    table-layout: fixed;
}

td, th {
    height: 40px;
    padding: 10px 15px;
}

th {
    text-align: left;
    font-weight: 900;
}

td {
    border-top: 1px solid #C6C6C6;
    font-weight: normal;
}

.faded {
    color: gray;
}
